body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #6786c5;
    margin: 0;
    color: rgb(0, 0, 0);
    font-family: 'Arial', sans-serif;
}

.clock-container {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

#clock {
    font-size: 60px;
    margin-bottom: 10px;
}

#date {
    font-size: 24px;
    color: #000000;
}
